.home-page .home .hero img {
  max-height: initial;
  width 100%;
  display: block;
  margin: 3rem auto 1.5rem;
}
@media (max-width: 419px)
  .home-page  .home .hero img {
    max-height: initial;
    width: 100%;
    margin: 2rem auto 1.2rem;
  }
